<div class="form-container">
    <form nz-form [formGroup]="loginForm" class="login-form" (submit)="submitForm()">
        <h1 class="form-header">Welcome!</h1>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group>
                <input
                    class="form-input"
                    type="email"
                    nz-input
                    formControlName="email"
                    placeholder="Email"
                />
                </nz-input-group>
                <div class="red-text" *ngIf="email?.touched && email?.errors?.['required']">
                    Email is required!
                </div>
                <div class="red-text" *ngIf="email?.touched && email?.errors?.['invalidEmail'] && !email?.errors?.['required']">
                    Invalid email format!
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group>
                <input
                    class="form-input"
                    type="password"
                    nz-input
                    formControlName="password"
                    placeholder="Password"
                />
                </nz-input-group>
                <div class="red-text" *ngIf="password?.touched && password?.errors?.['required']">
                    Password is required!
                </div>
            </nz-form-control>
        </nz-form-item>
        <div *ngIf="!loginIsBeingRequested">
            <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!loginForm.valid">Log in</button>
            <div class="additional-options-container">
                <button class="register-button" (click)="navigateToRegister()">Register now!</button>
            </div>
        </div>
        <nz-spin *ngIf="loginIsBeingRequested" nzSimple [nzSize]="'large'"></nz-spin>
    </form>
</div>