.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #BE93C5, #7BC6CC);

    .form-input {
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border: none;
    }

    .form-header {
        text-align: center;
        color: rgb(0, 0, 0);
    }

    input::placeholder {
        color: rgb(185, 180, 180);
    }

    .login-form {
        padding: 70px;
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgba(104, 104, 104, 0.5);
        background-color: #ededed;
    }
    
    .login-form-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: #BE93C5;
        color: white;
        border-radius: 10px;
        border: none;
    }

    .login-form-button:hover {
        background-color: #7BC6CC;
    }
    
    .additional-options-container {
        display: flex;
        margin-top: 10px;
        color: white;
    
        .register-button {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            padding: 5px;
            display: block;
            background-color: #7BC6CC;
            color: white;
            border-radius: 10px;
            border: none;
        }

        .register-button:hover {
            background-color: #5DA3B4;
        }


    }

    nz-spin {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.red-text {
    color: red;
}


