.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #28313B, #485461);

    .form-input {
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        background-color: #48515b;
        color: white;
    }

    .name-input-container {
        display: flex;
        gap: 10px;
    }

    input::placeholder {
        color: rgb(185, 180, 180);
    }

    .register-form {
        width: 350px;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    }
    
    .register-form-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .login-navigator {
        display: block;
        margin-top: 10px;
        text-align: center;

        &:hover {
            text-decoration: underline;
        }
    }
    
    nz-spin {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.red-text {
    color: red;
}


